<h1> this is the secret page!</h1>
<p>.... well that wasn't too great of a secret</p>
   <li> <a href="/register">Sign Up</a> </li>
   <li> <a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>