<% include partials/header %>
<h1>This is the homepage</h1>

<img src="http://vignette3.wikia.nocookie.net/pokemon/images/9/9f/143Snorlax_OS_anime.png/revision/latest?cb=20140924022259">
<% include partials/footer %>