<% include partials/header %>
<h1>You fell in love with: <%= thingVar %></h1>
<% if(thingVar.toLowerCase() === "rusty") { %>
    <p>Good choice!! Rusty is the best!</p> 
<% } %>


<p> P.S. this is the love.ejs file!</p>

<% include partials/footer %>