<div class="ui inverted vertical footer segment row">
    <div class="ui center aligned container">
         <h5>Sample Demo For Blog Application</h5>
    
        <div class="ui inverted section divider"></div>
    
    
        <div class="ui fixed inverted horizontal bulleted link list">
            <a class="item">
              <i class="code  icon"></i> Jesse Mayo
            </a>
            <a class="item" href="mailto:jsmayo91@gmail.com">
              <i class="mail icon"></i> Contact Me
            </a>
            <a class="item" href="https://jsmayo.github.io/">
                <i class="linkify icon"></i> View My Portfolio
            </a>
        </div>
    </div>
</div>
</body>
</html>


