<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
    </head>
    <body class="startBody">
       <div class="ui fixed inverted menu row">
           <div class="ui container">
               <div class="header item"><i class="terminal icon"></i>Blog App</div>
                    <a href="/" class="item"><i class="home icon"></i>Home</a>
                    <a href="/blogs/new" class="item">
                        <i class="write square icon"></i>New</a>
           </div>
       </div>

